<br><h3>帐号列表</h3>
<div style="margin-bottom:5px;background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));padding:5px">
  <form id="for_search_account" method="POST">
    &nbsp;&nbsp;类型 
    <select id="type">
      <option value="0">请选择类型</option>
      {foreach from=$account_type item=val}
      <option value="{$val.type_id}">{$val.type_name}</option>
      {/foreach} 
    </select>

    使用人<select id="admin_id" name="admin_id" {if $admin_id neq 1}style="display:none"{/if}>
      <option value="0">请选择使用者</option>
      {foreach from=$admin_list item=val}
      <option value="{$val.user_id}">{$val.user_name}</option>
      {/foreach}
    </select>
    账号<input type="text" name="account_name" id="account_name" size="13px"/>
    <label><input type="checkbox" name="arrstatus" value="0" checked="checked">有效</label>
    <label><input type="checkbox" name="arrstatus" value="1"/>被禁</label>
    <label><input type="checkbox" name="arrstatus" value="3"/>密码错误</label>
    <input type="button" onclick="searchAccount()" id="search_url" class="b_submit" value="搜 索" />
    <input type="button" class="wu_button wu_button_vist" name="add_account" value="添加新账号" onclick="addaccount()" />
  </form>
</div>

<div style="float:left;width:15%;background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));">
  <ul class="tab1" style="float:none !important;text-align:right">
    {foreach from=$account_type item=val}
    <li style="float:none !important;">
    <button class="{$val.class}" name="{$val.label}" onclick="tabSub(this)" onclick="tabSub(this)">{$val.type_name}</button>
    </li>
    {/foreach}
  </ul>
</div>

<div id="account_div" style="float:left;width:85%">
  <div id="box">
    {foreach from=$account_list item=val_subject}
    <div id="{$val_subject.label}" {$val_subject.class}>
      <table cellpadding="0" cellspacing="0" class=" wu_table_list rb_border wu_rb_border tr_hover" width="100%">               
        <tr>
          <th width="14%">账号</th>
          <th width="13%">密码</th>
          <th width="10%">部门</th>
          <th width="10%">授权</th>
          <th width="10%">使用人</th>
          <th width="18%">更新时间</th>
          <th width="8%">状态</th>
          <th width="15%">操作</th>
        </tr>
        {foreach from=$val_subject.account_list item=val}
        <tr>
          <td style="padding:5px;text-align:left">
            <a href="{$val.url}" target="_blank"><img src="images/icon_transfer.gif" title="{$val.url}"/></a>
            {if $val.is_vip eq 1}
            <font color="red">{$val.account_name}</font>
            {else}
              {$val.account_name}
            {/if}
          </td>
          <td>{$val.password}</td>
          <td>{$val.role_name}</td>
          <td style="align:left">
            {$val.belong}
          </td>
          <td>{$val.admin_name}</td>
          <td>{$val.account_updatetime}</td>
          <td>
            {if $val.usable eq 0}
            有效
            {elseif $val.usable eq 1}
            <font color="red">被禁</font>
            {elseif $val.usable eq 2}
            <font color="red">密码错误</font>
            {elseif $val.usabel eq 4}
            <font color="red">被盗</font>
            {/if} 
          </td>
          <td>
            {if $department_id eq NULL OR $department_id eq 5}
            <button class="btn_new" onclick="delAccount(this,{$val.account_id})">删除</button>
            <button class="btn_new" onclick="modifyAccount({$val.account_id})">更新</button>
            {elseif $val.is_check eq 0}
            <button class="btn_new" onclick="checkedAccount({$val.account_id})">检验</button>
            {else}
            无权限
            {/if}
          </td>
        </tr>
        {/foreach}
      </table>
    </div>
    {/foreach}
    <div id="resource" style="display:none">
    </div>
  </div>

  <!-- 分页 -->
  <div class="bottom_tip" id="bottom_tip">
    <div class="tip_left">
      <p>共{$filter.record_count}条记录,当前页:{$filter.start}-{$filter.end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="tip_center">
      <span><a href="performance.php?act={$filter.act}&page=1&page_size={$filter.page_size}{$condition}" id="page_link">&lt;&lt;</a></span>
      {foreach from=$filter.page_set item=v}
      <span {if $v eq $filter.page} class="cur"{/if}>{if $v eq $filter.page}{$v}{else}<a href="performance.php?act={$filter.act}&page={$v}&page_size={$filter.page_size}{$condition}">{$v}</a>{/if}</span>
      {/foreach}
      <span><a href="performance.php?act={$filter.act}&page={$filter.page_count}&page_size={$filter.page_size}{$condition}">&gt;&gt;</a></span>
    </div>
    <div class="tip_right">跳转到第
      <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
    </div>
  </div>
</div>
