<div class="data">
  <span class="action-span"><a href="users.php?act=add_users">添加客户</a></span>
  
<div class="form-div">
     <form action="" name="searchForm">
          <div id="usually" style="display:inline-block; width:80%">
               <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
               {insert_scripts files="validator.js,region.js"}
               地区:<select name="country" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')">
                    {foreach from=$country_list item=country}
                    <option readonly value="{$country.region_id}"{if $country.region_id eq $user_region.country}selected{/if}>{$country.region_name}</option>
                    {/foreach}
               </select>
               <select name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
                    <option value="0">{$lang.select_please}</option>
                    {foreach from=$province_list item=province}
                    <option value="{$province.region_id}" {if $province.region_id eq $user_region.province}selected{/if}>{$province.region_name}</option>
                    {/foreach}
               </select>
               <select name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
                    <option value="0">{$lang.select_please}</option>
                    {foreach from=$city_list item=city}
                    <option value="{$city.region_id}" {if $city.region_id eq $user_region.city}selected{/if}>{$city.region_name}</option>
                    {/foreach}
               </select>
               <select name="district" id="selDistricts" onchange="javascript:searchUser()">
                    <option value="0">{$lang.select_please}</option>
                    {foreach from=$district_list item=district}
                    <option value="{$district.region_id}" {if $district.region_id eq $user_region.district}selected{/if}>{$district.region_name}</option>
                    {/foreach}
               </select>
               &nbsp;<input type="text" name="saddress" id="saddress" value="地址" onclick="this.value='';" onblur="this.value == '' ?this.value='地址' : this.value=this.value;" style="width:50px;color:gray"/>&nbsp;
               <input type="text" name="keyword" value="姓名或电话或手机" onclick="this.value='';" onblur="this.value == '' ?this.value='姓名或电话或手机' : this.value=this.value;" style="width:100px;color:gray"/>
               顾客来源：<select name="from_where">
                    <option value="0">请选择</option>
                    {foreach from=$from_where item=val}
                    <option value="{$val.from_id}">{$val.from}</option>
                    {/foreach}
               </select>

               <div id="more-options" class="hide" style="padding-left:35px">
                 购买意向：<select name="purchase" id="purchase" onchange="javascript:searchUser()">
                   <option value='0'>请选择购买意向</option>
                         <option value='a'>已购买</option>
                         <option value='b'>有保健习惯，估计会买</option>
                         <option value='c'>有保健习惯，但不想买</option>
                    </select>
                    购买力：<select name="type">
                         <option value="0">请选择</option>
                         {foreach from=$type_list item=val}
                         <option value="{$val.type_id}">{$val.type_name}</option>
                         {/foreach}
                    </select>
                    功效：<select name="effects">
                      <option value="0">请选择</option>
                      {foreach from=$eff_list item=val}
                      <option value="{$val.eff_id}">{$val.eff_name}</option>
                      {/foreach}
                    </select>
                    <br>
                    服务查询：
                    开始：<input class="Wdate cursor" style="width:85px" id="start_date" name="startTime" value="" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                    截止：<input class="Wdate cursor" style="width:85px" id="start_date" name="endTime" value="" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                    {if $admin_list}
                    客服：<select name="admin_id">
                         <option value="0">请选择</option>
                         {foreach from=$admin_list item=val}
                         <option value="{$val.user_id}">{$val.user_name}</option>
                         {/foreach}
                         <option value="-1">已删除</option>
                    </select>
                    {/if}
                    {if $admin_show_team}
                    团队：<select name="group_search">
                         <option value="0">请选择</option>
                         {foreach from=$role_list item=list}
                         <option value="{$list.role_id}">{$list.role_name}</option>
                         {/foreach}
                    </select>
                    {/if}
                    {if $show_team}
                    <input type="hidden" name="group_search" value="{$role_id}" />
                    <input type="button" value="团队顾客" class="button" onclick="javascript:searchUser()" />
                    {/if}
               </div> 
          </div>
          <div id="bs" style="display:inline-block">
               <input type="button" value="查找顾客" class="big-button" onclick="javascript:searchUser()"/>
               <input type="reset" value="清除选项" class="big-button" onclick="javascript:searchUser()">
               <input  type="button" style="padding-left:5px"  value="更多选项"  onclick="showMoreOptions()">
          </div>
     </div>
</form>
 
<div id='seachTable'>
<div class="content-head">
     <div class="finder-title">{$curr_title}<font>{$num}</font></div>
     <div class="finder-packet" id="">
          <div class="packet-items" id="">
               <input type="hidden" id="cache_data" value="{$cache_data}"/>
          </div>
     </div>
     <div class="finder-header-wrapper" style="" id="" >
          <table border="0" cellpadding="0" cellspacing="0">
               <tr>
                    <td class="left_scroll">
                         <!--*********左上-BEGIN***********-->
                         <table width="200px" height="100%" border="0" cellpadding="0" cellspacing="1" style="border-left:1px #ccc solid;display:none">
            <colgroup>
              <col width="80px">
              <col width="100px">
              <col width="120px">
            </colgroup>
            <tr bgcolor="#FFFFFF">
              <td height="20" align="center">用户名</td>
              <td align="center">订单编号</td>
            </tr>
          </table>
          <!--**************左上-END**********-->
        </td>
        <td width="50%">
          <div id='scroll1' style="max-width:80%;overflow:hidden;">
            <!--***********右上-BEGIN********-->
            <table style="width:1200px" height="100%" border="0" cellpadding="0" cellspacing="1" >
            <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
              </colgroup>
              
              <tr bgcolor="#FFFFFF">
                <td align="center">客户名称</td>
                 <td align="center">操作</td>
                <td height="20px" align="center">性别</td>
                <td align="center">年龄段</td>
                <!--td align="center">平台</td-->
                <td align="center">添加时间</td>
                <td align="center">联系方式</td>
                <td align="center">上次服务时间</td>
                <td align="center">所属客服</td>
                <td align="center">备注</td>
               
              </tr>
            </table>
            <!--************右上-END**********-->
          </div> 
        </td>
      </tr>
      <tr>
        <td width="50%" align="left" valign="top">
          <div id='scroll2'>
            <!--*************左下-BEGIN**************-->
            <table width="199px" height="100%" border="0" cellpadding="0" cellspacing="1" style="display:none">
              <colgroup>
                <col width="40px">
                <col width="160px">
              </colgroup>
              <tr bgcolor="#FFFFFF" id="tr_1_{$val.order_id}" class="tr_list">
                <td width="200px" align="center">4444444</td>
                <td align="center" width="50px">5555555</td>
              </tr>
        
            </table>
            <!--*************左下-END***********-->
          </div>
        </td>
        <td align="left" valign="top">
          <div style="max-width:80%; max-height:420px;overflow:scroll" onscroll="javascript:syncscroll(this)">
            <!--***********右下-BEGIN***********-->
            <table style="width:1200px" height="100%" border="0" cellpadding="0" cellspacing="1">
              <colgroup>
                 <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
              </colgroup>
             {foreach from=$account_list item=users}
              <tr bgcolor="#FFFFFF" id="tr_2_{$val.order_id}" class="tr_list">
                <td align="center">{$users.user_name}</td>
                 <td align="center"><input type="button" value="删除" onclick="del_users({$users.user_id})"/><a href="users.php?act=edit_custom&uid={$users.user_id}">编辑</a><a href="users.php?act=custom_change&uid={$users.user_id}">转移</a></td>
                {if $users.sex eq 1}
                <td align="center">男</td>
                {elseif  $users.sex eq 2}
                <td align="center">女</td>
                {else $users.sex eq 0}
                <td align="center">不详</td>
                {/if}
                <td align="center">{$users.age_group}</td>
                <td align="center">{$users.add_time}</td>
                <td align="center">{$users.mobile_phone}</td>
                <td align="center">{$users.last_time}</td>
                <td align="center">{$users.role_name}</td>
                <td align="center">{$users.remarks}</td>
                
              </tr>
         {/foreach}
            </table>
            <!--*************右下-END*****************-->
          </div>
        </td>
      </tr>
    </table>
    <p id="y">&nbsp;</p>
    <p id="x">&nbsp;</p>
  </div>
   <div id="turn-page">
    {$lang.total_records} <span id="totalRecords">{$record_count}</span>
    {$lang.total_pages} <span id="totalPages">{$page_count}</span>
    {$lang.page_current} <span id="pageCurrent">{$filter.page}</span>
    <span id="page-link">
      {literal}<a href="users.php?act=users_list&page=1">{/literal}{$lang.page_first}</a>
      {literal}<a href="users.php?act=users_list&page={$pageprev}">{/literal}{$lang.page_prev}</a>
      {literal}<a href="users.php?act=users_list&page={$pagenext}">{/literal}{$lang.page_next}</a>
      {literal}<a href="users.php?act=users_list&page={$page_count}">{/literal}{$lang.page_last}</a>
    </span>
  </div>  
</div>
  </div>  
</div>
  
