<div class="mt10 w830">
    {if $full_page}
    {if $transfer eq 0}
    <div class="content-head">
        <div class="finder-title">顾客列表<font>{$num}</font></div>
        <div class="finder-packet">
            <div class="packet-items">
                <ul id="sub_tag" class="clearfix">
                    <!-- 针对订单状态进行的分类 -->
                    <li id="tag_0" class="current-tab">
                    <a href="users.php?act=users_list&tag=0&type=2">已购买顾客</a>
                    </li>
                    <li id="tag_1" class="current-tab">
                    <a href="users.php?act=forecast&tag=1">增值服务</a>
                    </li>
                    <li id="tag_2" class="last">
                    <a href="users.php?act=first_trace&tag=2">第一回访</a>
                    </li>
                    <li id="tag_3" class="last">
                    <a href="users.php?act=check&tag=3">预约服务</a>
                    </li>
                    <li id="tag_5" class="last">
                    <a href="users.php?act=repeat&tag=5">重复购买</a>
                    </li>
                    <li id="tag_4" class="current-tab">
                    <a href="users.php?act=intention&tag=4">意向顾客</a>
                    </li>
                    <li id="tag_6" class="current-tab">
                    <a href="users.php?act=users_list&tag=6&type=3">营销顾客</a>
                    </li>
                    <li id="tag_7" class="current-tab">
                    <a href="users.php?act=users_list&tag=7&type=4">资料顾客</a>
                    </li>
                    <li id="tag_8" class="current-tab">
                    <a href="users.php?act=users_list&tag=8&type=5">刷单顾客</a>
                    </li>
                    <li id="tag_9" class="current-tab">
                    <a href="users.php?act=users_list&tag=9&type=6">无效顾客</a>
                    </li>
                    <li id="tag_10" class="current-tab">
                    <a href="users.php?act=users_list&tag=10&type=7">停机</a>
                    </li>
                    <li id="tag_11" class="current-tab">
                    <a href="users.php?act=users_list&tag=11&type=8">其他</a>
                    </li>
                </ul>
            </div>
            <div class="add_user"><a href="users.php?act=add_users">添加新顾客</a></div>
        </div>

        <div class="gridlist-action" style="height:30px">
            <div class="nav-search">
                <script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
                添加时间：<input class="Wdate" id="start_time" type="text" value="{$start_time}" onClick="WdatePicker()">
                至<input class="Wdate"  id="end_time" type="text" value="{$end_time}" onClick="WdatePicker()">
                <select id="keyfields" onchange="changeKeywordsArae(this)">
                    <option value="user_name"{if $kf eq 'user_name'} selected{/if}>姓名</option>
                    <option value="qq"{if $kf eq 'qq'} selected{/if}>QQ</option>
                    <option value="aliww"{if $kf eq 'aliww'} selected{/if}>旺旺</option>
                    <option value="mobile_phone"{if $kf eq 'mobile_phone'} selected{/if}>手机号码</option>
                    <option value="home_phone"{if $kf eq 'home_phone'} selected{/if}>固话</option>
                    <option value="region"{if $kf eq 'region'} selected{/if}>所在地区</option>
                    <option value="address"{if $kf eq 'address'} selected{/if}>详细地址</option>
                    <option value="admin_name"{if $kf eq 'admin_name'} selected{/if}>健康顾问</option>
                    <option value="eff_id"{if $kf eq 'eff_id'} selected{/if}>功效</option>
                    <option value="type_id"{if $kf eq 'type_id'} selected{/if}>分类</option>
                </select>
                <span id="keywordsArea">
                    <input type="text" value="{$kw}" id="keywords"/>
                </span>
                <button value="{$file}.php?act={$act}&tag={$tag}" onclick="searchOrder(this)" class="b_submit">搜索</button>
            </div>
        </div>
        {/if}
        {/if}

        <!--新加入订单结构-->
        <!-- 查询订单 -->
        <div class="finder-header-wrapper t_center" id="listDiv">
            <table border="0" cellpadding="0" cellspacing="0" class="w830">
                <tr class="f_l">
                    <td class="left_scroll f_l">
                        <!--*********左上-BEGIN***********-->
                        <table height="100%" cellpadding="0" cellspacing="1" width="835px">
                            <tr>
                                <td width="30px"> </td>
                                <td width="62px">顾客</td>
                                <td width="67px">估计将服用完的商品</td>
                                <td width="60px">收货日期</td>
                                <td width="60px">服用完的日期</td>
                                <td width="60px">所属客服</td>
                                <td width="60px">上次服务时间</td>
                            </tr>
                        </table>
                        <!--**************左上-END**********-->
                    </td>
                </tr>

                <tr class="f_l">
                    <td align="left" valign="top">
                        <div class="list-div">
                            <!--*************左下-BEGIN**************-->
                            <table cellpadding="0" cellspacing="1" class="rb_border">
                                {foreach name=no from=$orders item=user}
                                <tr id="tr_{$user.user_id}" height="30px">
                                    <td align="center" width="63px">
                                        <input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money neq 0}1{else}0{/if}"/>
                                    </td>
                                    <td class="first-cell pos" width="127px">
                                        {$user.consignee}<sup>{$user.number_purchased}</sup>
                                        <a href="users.php?act=user_detail&id={$user.user_id}"><img src="images/add.gif"></a>
                                    </td>
                                    <td align="center" width="137px">{$user.goods_name|truncate:10}</td>
                                    <td align="center" width="122px">{$user.receive_time}</td>
                                    <td align="center" width="123px">{$user.over_time}</td>
                                    <td align="center" width="123px">{$user.admin_name}</td>
                                    <td align="center" width="123px"> </td>
                                </tr>
                                {foreachelse}
                                <tr>
                                    <td class="no-records"{if $transfer eq 1} colspan="11"{else} colspan="10"{/if}>
                                        {$lang.no_records}
                                    </td>
                                </tr>
                                {/foreach}
                            </table>
                            <!--*************左下-END***********-->
                        </div>
                    </td>
                </tr>
            </tr>
        </table>
    </div>
    {if $reassign_user}
    <div id="recycle" onmouseover="showThis(this, 170)" onmouseout="showThis(this, 0)" onclick="stopAction(this)">
        <h3>中转站</h3>
        <h3><label><input type="checkbox" onclick="checkboxSelected('user_list')">全/反选</label></h3>
        <ul id="user_list">
        </ul>
        <div>
            转给：
            <select onchange="sendUsersTo(this)">
                <option value="0">请选择</option>
                {foreach from=$by_send_to_admin item=val}
                <option value="{$val.user_id}">{$val.user_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    {/if}
