<!-- 顾客健康档案 -->
<div class="layout">
  <!--导航样式-->
  <div class="box_nav">
    <div class="detail_tab" style="margin:0">
      <ul>
        <li type="general" class="o_select" onclick="switchSubTab(this)"><span>基本信息</span></li>
        <li type="list" onclick="switchSubTab(this)"><span>社会营销</span></li>
        <li type="relation" onclick="switchSubTab(this)"><span>社会关系</span></li>
        <li type="purchase" onclick="switchSubTab(this)"><span>购买记录</span></li>
        <li type="service" onclick="switchSubTab(this)"><span>服务记录</span></li>
        <li type="cancel" onclick="switchSubTab(this)"><span>退货记录</span></li>
        <li type="remark" onclick="switchSubTab(this)"><span>个性分析</span></li>
        <li type="new_order" onclick="switchSubTab(this)"><span>添加订单</span></li>
        <li type="new_service" onclick="switchSubTab(this)"><span>添加服务</span></li>
      </ul>
    </div>
  </div>
  <!--导航样式 end--
