<table>
    <tbody>
        <tr>
            <td>编号：{$package_info.packing_desc}</td>
            <td colspan="2" style="padding-left:10px">添加时间：{$package_info.add_time}</td>
        </tr>
        <tr>
            <td colspan="3">套餐：{$package_info.packing_name}</td>
        </tr>
        <tr>
            <th align="left" style="padding-left:7px">商品编号</th>
            <th align="left" style="padding-left:7px">商品名称</th>
            <th align="center" style="padding-left:7px">商品数量</th>
        </tr>
        {foreach from=$package item=goods}
        <tr>
            <td align="left">{$goods.goods_sn}</td>
            <td align="left">{$goods.goods_name}</td>
            <td align="center">{$goods.goods_number}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
