<div class="content-head">
  <div class="blank"></div>
<div class="finder-title">{$curr_title}<font>{$num}</font></div>
<div class="finder-packet" id="">
     <div class="packet-items" id="">
          <ul id="sub_tag" class="clearfix">
               <!-- 针对订单状态进行的分类 -->
               {foreach from=$platform_list item=val name=i}
               <li id="tag_{$val.role_id}" class="{if $smarty.foreach.i.index eq 0}current-tab{else}last{/if}">
               <a href="performance.php?act={$act}&platform={$val.role_id}">
                    {if $val.role_id}{$val.role_describe}-{/if}{$val.role_name}
               </a>
               </li>
               {/foreach}
          </ul>
          <input type="hidden" id="cache_data" value="{$cache_data}"/>
     </div>
   </div>

<table border="0" id="person_style" cellpadding="0" cellspacing="0" class="all_table_list w830 mt10 border c_b" width="100%">
    <tr>
      <th width="150px">提交日期</th>
      <th width="150px">提交人</th>
      <th width="150px">PV</th>
      <th width="100px">UV</th>
      <th width="100px">订单数</th>
      <th width="100px">销售额</th>
      <th width="100px">操作</th>
    </tr>

    {foreach from=$list item=v}
    <tr>
      <td width="150px">{$v.add_time}</td>
      <td width="150px">{$v.user_name}</td>
      <td width="150px">{$v.spread_pv}</td>
      <td width="100px">{$v.spread_uv}</td>
      <td width="100px">{$v.orders}</td>
      <td width="100px">{$v.sale}</td>
      <td width="100px"></td>
    </tr>
    {/foreach}

  </table>

  <div class="w830 personal_list mt10">
{foreach from=$list item=v}
<dl>
  <dt>[{$v.user_name}]&nbsp;&nbsp;{$v.add_time} </dt>
     <dd>{$v.job_content}</dd>
</dl>
{/foreach}
</div>

<!-- 分页 -->
<div class="bottom_tip">
     <div class="tip_left">
          <p>共{$record_count}条记录,当前页:{$page_start}-{$page_end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
     </div>
     <div class="tip_center">
          <span><a href="performance.php?act={$act}{$page_link}&page=1&page_size={$page_size}{$condition}" id="page_link"><<</a></span>
          {foreach from=$page_set item=v}
          <span{if $v eq $page} class="cur"{/if}>{if $v eq $page}{$v}{else}<a href="performance.php?act={$act}{$page_link}&page={$v}&page_size={$page_size}">{$v}</a>{/if}</span>
          {/foreach}
          <span><a href="performance.php?act={$act}{$page_link}&page={$page_count}&page_size={$page_size}">>></a></span>
     </div>
     <div class="tip_right">
          跳转到第
          <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
     </div>
</div>
</div>
