{if $show_all}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
<div class="content-head mt10">
     <div class="finder-title">个人回购率<font></font></div>
     <div>
          <div class="gridlist-action">
               <div class="nav-search">
                   {if $personal_repo_query}
                    下单日期：<input class="Wdate" id="start_time" type="text" value="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',{$min_date}})">
                    至<input class="Wdate" id="end_time" type="text" value="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',{$max_date}})">
                    {/if}
                    {if $platform}
                    <select id="platform" onchange="changePlatform(this)"><option value="0">选择平台</option>{html_options options=$platform}</select>
                    <select id="admin_id"><option value="0">选择客服</option>{html_options options=$admin_list}</select>
                    {/if}
                    <button value="report_forms.php?act=personal_repo" onclick="statsRate(this)" class="b_submit">搜索</button>
               </div>
          </div>

          <table border="0" class="all_table_list border c_b" width="100%" cellpadding="0" cellspacing="0" >
              <thead>
                  <tr>
                      <th></th>
                      <th colspan="2">当期购买</th>
                      <th colspan="2">当期购买的老顾客</th>
                      <!--th colspan="2">当期购买</th-->
                      <th colspan="10">新老顾客及订单总量百分比</th>
                  </tr>
                  <tr id="sortByThis">
                      <th>销售平台</th>
                      <th onclick="sortByThisCol(this)">顾客数量</th>
                      <th onclick="sortByThisCol(this)">订单数量</th>
                      <!--th onclick="sortByThisCol(this)">订单金额</th-->
                      <th onclick="sortByThisCol(this)">顾客数量</th>
                      <th onclick="sortByThisCol(this)">订单数量</th>
                      <!--th onclick="sortByThisCol(this)">订单金额</th-->
                      <!--th>顾客数量</th-->
                      <th onclick="sortByThisCol(this)">老顾客占顾客总量</th>
                      <th onclick="sortByThisCol(this)">订单金额比</th>
                      <th onclick="sortByThisCol(this)">老顾客数量</th>
                      <th onclick="sortByThisCol(this)">顾客总量</th>
                      <th onclick="sortByThisCol(this)">老顾客订单量</th>
                      <th onclick="sortByThisCol(this)">顾客订单总量</th>
                      <!--th onclick="sortByThisCol(this)">老顾客订单总额</th-->
                      <!--th onclick="sortByThisCol(this)">顾客订单总额</th-->
                      <th onclick="sortByThisCol(this)">顾客数量比</th>
                      <th onclick="sortByThisCol(this)">订单数量比</th>
                      <th onclick="sortByThisCol(this)">订单金额比</th>
                  </tr>
              </thead>
               <tbody id="rate_stats">
                   {/if}
                    {foreach from=$buy_back key=key item=val}
                    <tr>
                        <td>{if $val.admin_name}{$val.admin_name}{else}{$admin_list[$key]}{/if}</td>
                        <td title='顾客数量'>{$val.total_current_users_number}</td>
                        <td title='订单数量'>{$val.total_current_order_number}</td>
                        <!--td title='订单金额'>{$val.total_current_order_amount}</td-->
                        <td title='顾客数量'>{$val.repo_current_users_number}</td>
                        <td title='订单数量'>{$val.repo_current_order_number}</td>
                        <!--td title='订单金额'>{$val.repo_current_order_amount}</td-->
                        <td title='老顾客占顾客总量'>{$val.users_current_old_vs_total}</td>
                        <td title='订单金额比'>{$val.order_current_old_vs_total}</td>
                        <td title='老顾客数量'>{$val.repo_total_users_number}</td>
                        <td title='顾客总量'>{$val.users_number}</td>
                        <td title='老顾客订单量'>{$val.repo_total_order_number}</td>
                        <td title='顾客订单总量'>{$val.total_all_order_number}</td>
                        <!--td title='老顾客订单总额'>{$val.repo_total_order_amount}</td-->
                        <!--td title='顾客订单总额'>{$val.total_all_order_amount}</td-->
                        <td title='顾客数量比'>{$val.users_old_vs_total}</td>
                        <td title='订单数量比'>{$val.order_number_old_vs_total}</td>
                        <td title='订单金额比'>{$val.order_amount_old_vs_total}</td>
                    </tr>
                    {/foreach}
                    {if $show_all}
               </tbody>
          </table>
     </div>
</div>
{/if}
