<br/>

<style type="text/css">
<!--
.red {
	color: #FF0000;
	font-weight: bold;
}
p{
line-height:25px;
font-size:16px;
}
-->
</style>
<div class="company-rule">
<h1>销售岗位补充说明</h1>
<p>1、月销售额若无特别指出，均为自然月。所有的销售额均指净回款，即扣除顾客退换货等费用的总额。</p>
<p class="red">2、没有经过销售或客服就直接购买的订单即为静默订单。只咨询物流和先下单后咨询的都属于静默订单。若将静默订单下成自己的订单的，原则上按每单5元进行罚款。</p>
<p>3、<strong>单个非静默个人订单金额在1000元以上的为大额订单，每单奖励20元；1500元以上的，奖励30元，2000元以上的，奖励50元。</strong></p>
<p>4、凡是由公司提供特殊费用支持的大型活动，都不适用于提成计算方法，具体提成计算根据活动的销售的情况再定。</p>
<p>5、跨月举行的大型销售活动，出于财务计算方便，所有销售提成隔月结算。</p>
<p>6、多次咨询才下单的客户，销售提成归入最后一次搞定让顾客下单付款的客服名下。</p>
<p>7、根据财务结算习惯，考虑到在途时间及大活动冲击问题，退货结算周期为当月的15日至下月的15日。</p>
<p>8、所有的订单数量均指最终交易成功的订单，退货或退款订单不计入。任何人为因素导致的订单错误造成的损失均由提交订单的客服承担。</p>
<p>9、<strong>工资= 基本工资+个人销售额提成</strong></p>
<p>个人销售额提成 = 当月个人销售总额×提成系数</p>
<p>10、<strong>售前客服</strong>试用两个月以上、打字速度60字/分钟以上，且当月总销量达到30000元的，下一个月可申请转正。</p>
<p><strong>售后客服</strong>试用两个月以上、打字速度40字/分钟以上，且当月总销量达到10000元的，下一个月可申请转正。</p>
<p>11、售前手机拍拍和京东的订单独立计算，全部按0.5%的提成系数进行计算。</p>
<p  class="red">12、老顾客是指曾在康健人生任何网店或部门有过一次成功订单的顾客。</p>
<p>解读：</p>
<p>（1）第一次购买产品，但是订单还在途，暂未收到货，订单尚未成功，如果再次产生购买，这个并不能算作老顾客，继续按新顾客计算销量。</p>
<p>（2）顾客A在天猫购买过产品一次，然后又到其他网店或部门购买产品，顾客A就是老顾客。</p>
<p>（3）顾客B在康健人生购买过一次产品，但是由于各种原因，换了手机或电话，如果有据可查（如收货地址或QQ或旺旺等联系方式），能证明顾客B是老顾客，那么顾客B就是老顾客，否则，就按新顾客计算销量。</p>
</div>
