<div>
  <table width="100%" cellspacing="0" cellpadding="0" class="wu_table_list rb_border wu_rb_border tr_hover" id="temp_inte">
    <tr id="caption">
      <th width="3%"><input type="checkbox" id="inte_nums" onclick="get_inte_nums(this)"/></th>
      <th width="8%">顾客</th>
      <th width="8%" class="a_sort"><a href="service.php?act=sch_con_inte&sort=rank_id&sort_type={$sort_type}">等级</a></th>
      <th width="8%" class="a_sort"><a href="service.php?act=sch_con_inte&sort=goods_amount&sort_type={$sort_type}">订单金额</a></th>
      <th width="8%">积分规则</th>
      <th width="8%" class="a_sort"><a href="service.php?act=sch_con_inte&sort=cur_integral&sort_type={$sort_type}">最终积分</a></th>
      <th width="8%">原积分</th>
      <th width="8%">增/减</th>
      <th width="10%" class="a_sort"><a href="service.php?act=confirm_inte&sort=receive_time&validity={$sort_type}">创建时间</a></th>
      <th width="10%" class="a_sort"><a href="service.php?act=confirm_inte&sort=validity&validity={$sort_type}">有效期</a></th>
      <th width="11%">操作</th>
    </tr>
    {if $empty eq 0}
    <tr>
      <td colspan="11" align="center">没有任何查询记录</td>
    </tr>
    {else}
    {foreach from=$integral item=val}
    <tr>
      <td><input type="checkbox" id="inte_num" value="{$val.user_integral_id}" onclick="get_inte_nums(this)"/></td>
      <td>{$val.user_name}</td>
      <td>{if $val.rankup neq ''}升级至{$val.rankup}{else}{$val.rank_name}{/if}</td>
      <td>{$val.goods_amount}</td>
      <td><button value="{$val.integral_id}" onclick="viewInte(this)">{$val.integral_title}</button></td>
      <td>{$val.cur_integral}</td>
      <td>{$val.pre_points}</td>
      <td>
        {if $val.increase_reduce eq 0}-
        {else}+
        {/if}
      </td>
      <td>{$val.receive_time}</td>
      <td>{$val.validity}</td>
      <td>
        <button onclick="confirmIntegral({$val.user_integral_id},{$val.cur_integral},{$val.user_id},this)">确认</button>
        <button>撤销</button>
      </td>
    </tr>
    {/foreach}
    {/if}
  </table>
</div>

<!-- 分页 -->
<div class="bottom_tip">
  <div class="tip_left">
    <p>共{$filter.record_count}条记录,当前页:{$filter.start}-{$filter.end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
  <div class="tip_center">
    <span><a href="service.php?act={$filter.act}&page=1&page_size={$filter.page_size}{$condition}" id="page_link">&lt;&lt;</a></span>
    {foreach from=$filter.page_set item=val}
    <span{if $val eq $filter.page} class="cur"{/if}>{if $val eq $filter.page}{$val}{else}<a href="service.php?act={$filter.act}&page={$val}&page_size={$filter.page_size}{$condition}">{$val}</a>{/if}</span>
    {/foreach}
    <span><a href="service.php?act={$filter.act}&page={$filter.page_count}&page_size={$filter.page_size}{$condition}">&gt;&gt;</a></span>
  </div>
  <div class="tip_right">跳转到第
    <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
  </div>
</div>
