<div class="content-head">
    <div class="finder-title">{$curr_title}<font>{$num}</font></div>
    <div class="finder-packet" id="">
        <div class="packet-items" id="">
            <ul id="sub_tag" class="clearfix">
                <!-- 针对订单状态进行的分类 -->
                {foreach from=$exp_list item=val name=i}
                <li id="tag_{$val.exp_status}" class="{if $val.exp_status eq $exp_status}current-tab{else}last{/if}">
                    <a href="order.php?act={$act}&exp_status={$val.exp_status}">{$val.exp_info}</a>
                </li>
                {/foreach}
            </ul>
            <input type="hidden" id="cache_data" value="{$cache_data}"/>
        </div>
    </div>

    <div class="gridlist-action" style="width:880px">
        <!-- 查询订单 -->
        <div class="nav-search">
            <script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
            下单日期：<input class="Wdate" id="start_time" type="text" value="{$start_time}" onClick="WdatePicker()" size="16">
            至<input class="Wdate" id="end_time" type="text" value="{$end_time}" onClick="WdatePicker()" size="16">
            <select id="keyfields" onchange="changeKeywordsArae(this)">
                <option value="consignee"{if $kf eq 'consignee'} selected{/if}>收货人</option>
                <option value="order_sn"{if $kf eq 'order_sn'} selected{/if}>订单编号</option>
                <option value="tracking_sn"{if $kf eq 'tracking_sn'} selected{/if}>运单号</option>
                <option value="qq"{if $kf eq 'qq'} selected{/if}>QQ</option>
                <option value="aliww"{if $kf eq 'aliww'} selected{/if}>旺旺</option>
                <option value="mobile"{if $kf eq 'mobile'} selected{/if}>手机号码</option>
                <option value="tel"{if $kf eq 'tel'} selected{/if}>固话</option>
                <option value="region"{if $kf eq 'region'} selected{/if}>收货地区</option>
                <option value="address"{if $kf eq 'address'} selected{/if}>收货地址</option>
                <option value="admin_name"{if $kf eq 'admin_name'} selected{/if}>健康顾问</option>
                <option value="shipping_feed"{if $kf eq 'shipping_feed'} selected{/if}>二次跟进</option>
            </select>
            <span id="keywordsArea">
                <input type="text" id="keywords" value="{$kw}">
            </span>
            {if $sch_all_order eq true}
            &nbsp;购买平台：
            <select id="platform" style="width:80px">
                {foreach from=$platform_list item=val}
                <option value="{$val.role_id}" {if $val.role_id eq $platform_id}selected{/if}>{$val.role_name}</option>
                {/foreach}
            </select>
            {/if}
        </div>
        <button value="order.php?act={$act}&exp_status={$exp_status}" onclick="searchOrder(this)" class="b_submit" style="margin:2px 0 0 5px">搜索</button>
    </div>

    <!-- 订单列表 -->
    <div class="finder-header-wrapper list-div" style="" id="" >
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="left_scroll">
                    <!--   左上-BEGIN   -->
                    <table width="153px" height="100%" border="0" cellpadding="0" cellspacing="1" style="border-left:1px #ccc solid">
                        <colgroup>
                            <col width="130px">
                            {if $shipping_act}<col width="90px">{/if}
                        </colgroup>
                        <tr>
                            <td height="20" align="center">用户名</td>
                            {if $shipping_act}
                            <td align="center">{if $act eq 'current_order'}打单{else}快递跟进{/if}</td>
                            {/if}
                        </tr>
                    </table>
                    <!--   左上-END   -->
                </td>
                <td>
                    <div id='scroll1' style="width:749px; ">
                        <!--   右上-BEGIN   -->
                        <table height="100%" border="0" cellpadding="0" cellspacing="1" >
                            <colgroup>
                                <col width="65px">
                                <col width="55px">
                                <col width="130px">
                                <col width="110px">
                                <col width="75px">
                                <col width="65px">
                                <col width="65px">
                                <col width="210px">
                            </colgroup>
                            <tr height="27px" bgcolor="#eee">
                                <td align="center">操作</td>
                                <td height="20px" align="center">收货人</td>
                                <td align="center">运单号</td>
                                <td align="center">下单时间</td>
                                <td align="center">总金额</td>
                                <td align="center">健康顾问</td>
                                <td align="center">添加人</td>
                                <td align="center">物流追踪</td>
                            </tr>
                        </table>
                        <!--   右上-END   -->
                    </div> 
                </td>
            </tr>
            <tbody id="order_list">
                <tr>
                    <td align="left" valign="top">
                        <div id='scroll2'>
                            <!--   左下-BEGIN   -->
                            <table width="153px" height="100%" border="0" id="left_table" cellpadding="0" cellspacing="1">
                                <colgroup>
                                    <col width="110px">
                                    <col width="110px">
                                </colgroup>
                                {foreach from=$order_list item=val}
                                <tr bgcolor="#FFFFFF" id="tr_1_{$val.order_id}" class="tr_list">
                                    <td width="200px" align="center">
                                        {if $val.is_black eq 1}
                                        <img src="images/black_member.png" class="png_btn" alt="黑名单顾客" title="黑名单顾客"/>
                                        {/if}
                                        {$val.buyer}</td>
                                    <td align="center" width="89px">
                                        <span class="h_f">
                                            {if $act eq 'current_order'}
                                            <a href="order.php?act=thanks_note&order_id={$val.order_id}" target="_blank"><img src="images/mail_active.png" alt="感谢信" title="感谢信"></a>
                                            <a href="order.php?act=info&print=1&order_id={$val.order_id}" target="_blank"><img src="images/tree_folder.gif" alt="发货单" title="发货单"></a>
                                            <a href="order.php?act=expressprint&order_id={$val.order_id}" target="_blank"><img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单"></a>
                                            {elseif $act eq 'finished_order'}
                                            <button onclick="showPrompt('info',{$val.order_id})" >
                                                <img src="images/tree_folder.gif" alt="发货单" title="发货单">
                                            </button>
                                            <button onclick="showPrompt('express',{$val.order_id})">
                                                <img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单">
                                            </button>
                                            {elseif $shipping_done}
                                            <img src="images/{if $val.shipping_status eq 2}1{else}0{/if}.gif" alt="{if $val.shipping_status eq 2}已收货{else}未收到{/if}" id="shipping_{$val.order_id}" onclick="receiptGoods({$val.order_id})"/>
                                            {/if}
                                        </span>
                                    </td>

                                </tr>
                                {/foreach}
                            </table>
                            <!--   左下-END   -->
                        </div>
                    </td>
                    <td align="left" valign="top">
                        <div style="width:748px;" class="y-scroll" onscroll="javascript:syncscroll(this)">
                            <!--   右下-BEGIN   -->
                            <table height="100%" border="0" id="right_table" cellpadding="0" cellspacing="1">
                                <colgroup>
                                    <col width="70px">
                                    <col width="70px">
                                    <col width="70px">
                                    <col width="130px">
                                    <col width="80px">
                                    <col width="80px">
                                    <col width="80px">
                                    <col width="250px">
                                </colgroup>
                                {foreach from=$order_list item=val}
                                <tr bgcolor="#FFFFFF" id="tr_2_{$val.order_id}"
                                    class="tr_list {if $val.pay_id eq 3}tr_bg_list{/if}">
                                    <td align="center">
                                        <a href="order.php?act=order_lock&id={$val.order_id}" id="lock_{$val.order_id}" title="锁定后，只有锁定该订单的客服才可对该订单进行操作">
                                            {if $val.order_lock eq $admin_id}{if $val.order_lock}解锁{else}锁定{/if}{else}{$val.lock_status}{/if}
                                        </a>
                                        <font>【{$val.role_describe}】</font>
                                        <a href="order.php?act=order_detail&id={$val.order_id}&{$act}=1" title="订单详情"><img src="images/add.gif" class="pt7 f_r"></a>
                                    </td>
                                    <td height="20" align="center" title="{$val.receive_notice}">{$val.consignee}</td>
                                    <td width="135px" class="b_r" align="center"{if $shipping_act} ondblclick="replaceToInput(this, {$val.order_id})"{/if}>{if $val.tracking_sn}{if $act eq 'history_order' || $act eq 'finished_order'}<a href="logistics_info.php?id={$val.order_id}" target="_blank">{$val.tracking_sn}</a>{else}{$val.tracking_sn}{/if}{else}{$val.shipping_name}{/if}</td>
                                    <td align="center">{$val.short_order_time}</td>
                                    <td align="center">{$val.formated_total_fee}</td>
                                    <td align="center" title="{$val.admin_name}">{$val.admin_name|truncate:3}</td>
                                    <td align="center" title="{$val.add_admin}">{$val.add_admin|truncate:5}</td>
                                    <td align="center" title="{$val.exp_info}">{$val.exp_info|truncate:25}</td>
                                </tr>
                                {/foreach}
                            </table>
                            <!--   右下-END   -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--h4>每天6:59 8:59 10:59 12:59 14:59 16:59 18:59 20:59 22:59系统会自动查询快递信息</h4-->
    </div>

    <!-- 分页 -->
    <div class="bottom_tip">
        <div class="tip_left">
            <p>共{$record_count}条记录,当前页:{$page_start}-{$page_end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="tip_center">
            <span><a href="order.php?act={$act}{$page_link}&page=1&page_size={$page_size}" id="page_link"><<</a></span>
            {foreach from=$page_set item=v}
            <span{if $v eq $page} class="cur"{/if}>{if $v eq $page}{$v}{else}<a href="order.php?act={$act}{$page_link}&page={$v}&page_size={$page_size}">{$v}</a>{/if}</span>
            {/foreach}
            <span><a href="order.php?act={$act}{$page_link}&page={$page_count}&page_size={$page_size}">>></a></span>
        </div>
        <div class="tip_right">
            跳转到第
            <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
        </div>
    </div>
</div>
