<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
     <tr>
          <th width="3%">
               <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
          </th>
          <th width="5%">顾客</th>
          <th width="3%">所属客服</th>
          <th width="2%">服务类别</th>
          <th width="5%">服务方式</th>
          <th width="10%">服务记录</th>
          <th width="5%">服务时间</th>
     </tr>
     {foreach name=no from=$service_list item=val}
     <tr id="tr_{$val.user_id}">
          <td align="center">
               <input type="checkbox" name="checkboxes[]" value="{$val.user_id}" notice="{if $val.user_money neq 0}1{else}0{/if}"/>
          </td>
          <td class="first-cell pos">
               {$val.user_name}
               <a href="users.php?act=user_detail&id={$val.user_id}">
                    <img src="images/add.gif"></a>
          </td>
          <td align="center">{$val.admin_name}</td>
          <td align="center">{$val.service_class}</td>
          <td align="center">{$val.service_manner}</td>
          <td align="center">{$val.logbook}</td>
          <td align="center">{$val.service_time}</td>
     </tr>
     {foreachelse}
     <tr>
          <td class="no-records"{if $transfer eq 1} colspan="11"{else} colspan="10"{/if}>
               {$lang.no_records}
          </td>
     </tr>
     {/foreach}
</table>
