{if $admin_role eq 1}
<div class="blank"></div>
<ul class="clearfix">
  <li class="current-tab">
  <a>咨询记录</a>
  </li>
</ul>

<!--div id="service_detail">
     <div class="detail_tab">
          <ul>
               <li type="general" class="o_select" onclick="switchSubTab(this)">
               <span><!--查看所有--></span>
               </li>
               {foreach from=$name_list item=val}
               <li type="tag_{$val.role_id}" onclick="switchSubTab(this)">
               <span>{$val.role_name}</span></li>
               {/foreach}   
          </ul>
     </div-->

  <!-- 基本信息 -->
<table border="0" id="service_style" class="all_table_list w830 border c_b">
        <tbody>
              <tr class="cen">
                <td>提交日期</td>
               
                <td>
                  <table>
                   <tr class="cen">
                          <td>平台</td>
                          <td>导购咨询</td>
                          <td>成交订单数</td>
                          <td>销售额</td>
                          <td>咨询方式</td>
                          <td>咨询类型</td>
                          <td>新顾客</td>
                          <td>老顾客</td>
                          <td>成功率</td>
                       </tr>
                  </table>
                </td>
                 <td>总成功率</td>
                <td>操作</td>
              </tr>
            {foreach from=$service_list  item=value}
              <tr class="mid" >
                <td>{$value.add_time} &nbsp; {$value.user_name}</td>
                <td>
          {if $value.data != ''}     
                  <table border="0" id="ad_table">         
    {foreach from=$value.data key=key item=v}
    <tr class="mid">
      <td>   
        {foreach from=$role_name item=val}
        {if $val.role_id eq $v.rid}
          {$val.role_name}
        {/if}
          {/foreach}   
      </td>
      <td>{$v.guide_consulting}次&nbsp;</td>
      <td>{$v.success_deal}</td>
      <td>{$v.amount}元&nbsp;</td>
      <td>
          {foreach from=$way_name item=val}
            {if $val.way_id eq $v.way_id}
                 {$val.way_name}         
            {/if}
          {/foreach}   
      </td>
      <td>
          {foreach from=$type_name item=val}
          {if $val.type_id eq $v.type_id} 
               {$val.type_name} 
          {/if}
          {/foreach}   
        </td>
        <td>{$v.new_user}</td>
        <td>{$v.old_user}</td>
        <td>{$v.success_rate}</td>
    </tr>   
    {/foreach}
  
  </table>
    {/if}
</td>
                <td>{$value.success_all}</td>
                <td>
                  {if $role_edit eq 1}
                  <a href="performance.php?act=service_personal_edit&work_id={$value.work_id}">编辑</a>
                  {/if}
                  {if $role_del eq 2}
                  <input type="button"  onclick="delService({$value.work_id})" value="删除">    
                  {/if}
                </td>
              </tr>
           {/foreach}
       </tbody>
</table> 

</div>

{foreach from=$name_list item=values}
<div id="tag_{$values.role_id}" class="hide">

<table border="0" id="service_style">
        <tbody>
              <tr class="cen">
                <td>提交日期</td>
                <td>
                  <table>
                   <tr class="cen">
                          <td>平台</td>
                          <td>导购咨询</td>
                          <td>成交订单数</td>
                          <td>销售额</td>
                          <td>咨询方式</td>
                          <td>咨询类型</td>
                          <td>新顾客</td>
                          <td>老顾客</td>
                          <td>成功率</td>
                       </tr>
                  </table>
                </td>
                 <td>总成功率</td>
                <td>操作</td>
              </tr>
              {foreach from=$every_list item=every key=k }
              {if $k eq $values.role_id}
            {foreach from=$every  item=value}
              <tr class="mid" >
                <td>{$value.add_time} &nbsp; {$value.user_name}</td>
                <td>
          {if $value.data != ''}     
                  <table border="0" id="ad_table">         
    {foreach from=$value.data key=key item=v}
    <tr class="mid">
      <td>   
        {foreach from=$role_name item=val}
        {if $val.role_id eq $v.rid}
          {$val.role_name}
        {/if}
          {/foreach}   
      </td>
      <td>{$v.guide_consulting}次&nbsp;</td>
      <td>{$v.success_deal}</td>
      <td>{$v.amount}元&nbsp;</td>
      <td>
          {foreach from=$way_name item=val}
            {if $val.way_id eq $v.way_id}
                 {$val.way_name}         
            {/if}
          {/foreach}   
      </td>
      <td>
          {foreach from=$type_name item=val}
          {if $val.type_id eq $v.type_id} 
               {$val.type_name} 
          {/if}
          {/foreach}   
        </td>
        <td>{$v.new_user}</td>
        <td>{$v.old_user}</td>
        <td>{$v.success_rate}</td>
    </tr>   
    {/foreach}
   
  </table>
    {/if}
   
</td>
                <td>{$value.success_all}</td>
                <td><a href="performance.php?act=service_personal_edit&work_id={$value.work_id}">编辑</a>
                  <input type="button"  onclick="delService({$value.work_id})" value="删除">     
                </td>
              </tr> 
           {/foreach}
             {/if}
           {/foreach}
       </tbody>
</table> 

  
</div>

{/foreach}

</div>
{/if}

{if $service_view eq 1}
<table border="0" id="service_style">
        <tbody>
              <tr class="cen">
                <td>提交日期</td>
               
                <td>
                  <table>
                   <tr class="cen">
                          <td>平台</td>
                          <td>导购咨询</td>
                          <td>成交订单数</td>
                          <td>销售额</td>
                          <td>咨询方式</td>
                          <td>咨询类型</td>
                          <td>新顾客</td>
                          <td>老顾客</td>
                          <td>成功率</td>
                       </tr>
                  </table>
                </td>
                 <td>总成功率</td>
                <td>操作</td>
              </tr>
            {foreach from=$service_list  item=value}
              <tr class="mid" >
                <td>{$value.add_time} &nbsp; {$value.user_name}</td>
                <td>
          {if $value.data != ''}     
                  <table border="0" id="ad_table">         
    {foreach from=$value.data key=key item=v}
    <tr class="mid">
      <td>   
        {foreach from=$role_name item=val}
        {if $val.role_id eq $v.rid}
          {$val.role_name}
        {/if}
          {/foreach}   
      </td>
      <td>{$v.guide_consulting}次&nbsp;</td>
      <td>{$v.success_deal}</td>
      <td>{$v.amount}元&nbsp;</td>
      <td>
          {foreach from=$way_name item=val}
            {if $val.way_id eq $v.way_id}
                 {$val.way_name}         
            {/if}
          {/foreach}   
      </td>
      <td>
          {foreach from=$type_name item=val}
          {if $val.type_id eq $v.type_id} 
               {$val.type_name} 
          {/if}
          {/foreach}   
        </td>
        <td>{$v.new_user}</td>
        <td>{$v.old_user}</td>
        <td>{$v.success_rate}</td>
    </tr>   
    {/foreach}
  
  </table>
    {/if}
</td>
                <td>{$value.success_all}</td>
                <td>
                  {if $admin_role eq 1}
                  <a href="performance.php?act=service_personal_edit&work_id={$value.work_id}">编辑</a>
                  {elseif $value.checktime+259200 > $daytime}
                  <a href="performance.php?act=service_personal_edit&work_id={$value.work_id}">编辑</a>
                  {else}

                  {/if}
                  {if $role_del eq 2}
                  <input type="button"  onclick="delService({$value.work_id})" value="删除">   
                  {/if}  
                </td>
              </tr>
           {/foreach}
       </tbody>
     </table> 
{/if}
