<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>宅急送快递单打印</title>
  <style type="text/css">
        body {background:url(images/js.jpg) no-repeat; width:720px; height:437px; margin:125px 0 0 80px; padding:0; font-weight:bold;color:#000}
        ul {margin:0;padding:0;  padding-left:20px}
        li {list-style-type:none; line-height:30px; height:30px};
  </style>
  <style type="text/css" media="print">
    .noprint {visibility:hidden; display:inline-block; position:absolute; top:500px}
  </style>
</head>
<body>
      <ul>
            <li>{$kjrs_region}</li>
            <li>{$kjrs_address}</li>
            <li>&nbsp;&nbsp;&nbsp;{if $order.secrecy eq 0}{$company_name}{/if}</li>
            <li>&nbsp;&nbsp;&nbsp;{$kjrs_tel}</li>
            <li style="margin-top:10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$order.consignee}&nbsp;&nbsp;&nbsp;&nbsp;{$order.addr}</li>
            <li>{$order.address}</li>
            <li>{$notice}</li>
            <li><div style="padding-left:180px"><b>{$order.mobile}/{$order.tel}</b></div></li>
      </ul>
      <div style="position:absolute; left:480px; top:120px; font-weight:bold">6765292</div>
      <div style="margin-left:363px">
            {$date.year}&nbsp;{$date.month}&nbsp;{$date.day}
      </div>
      <h1 class="noprint" style="position:absolute; top:500px" contenteditable>{$message}</h1>
      <div style="position:absolute; left:480px; top:390px; font-weight:bold">243499</div>
</body>
</html>
