<table id="dataList" cellspacing="0" cellpadding="0" class="wu_table_list rb_border wu_rb_border tr_hover" width="100%">
    <th width="15%">商品编号</th>
    <th width="40%">商品名称</th>
    <th width="15%">发出数量</th>
    <th width="15%">退出数量</th>
    <th width="15%">实时库存</th>
    <!--th>退回数量</th-->
    {if $shipping_goods neq null}
    {foreach from=$shipping_goods item=val}
    <tr>
      <td>{$val.goods_sn}</td>
      <td>{$val.goods_name}</td>
      <td>{$val.goods_number}</td>
      <td>{if $val.return_number}{$val.return_number}{else}0{/if}</td>
      <td>{$val.current_stock}</td>
    </tr>
    {/foreach}
    {else}
    <tr><td colspan=5>没有发货记录</td></tr>
    {/if}
  </table>
  <!-- 分页 -->
  <div class="bottom_tip">
    <div class="tip_left">
      <p>共{$filter.record_count}条记录,当前页:{$filter.start}-{$filter.end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="tip_center">
      <span><a href="storage.php?act={$filter.act}&page=1&page_size={$filter.page_size}{$condition}" id="page_link">&lt;&lt;</a></span>
      {foreach from=$filter.page_set item=val}
      <span {if $val eq $filter.page} class="cur"{/if}>{if $val eq $filter.page}{$val}{else}<a href="storage.php?act={$filter.act}&page={$val}&page_size={$filter.page_size}{$condition}">{$val}</a>{/if}</span>
      {/foreach}
      <span><a href="storage.php?act={$filter.act}&page={$filter.page_count}&page_size={$filter.page_size}{$condition}">&gt;&gt;</a></span>
    </div>
    <div class="tip_right">跳转到第
      <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
    </div>
  </div>
