<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>康健人生感谢信</title>
  <style type="text/css">
        body {width:15cm; padding:0 2cm; margin:0; line-height:27px; font-size:16px}
        p {text-indent:2em; margin:10px auto;}
        li {list-style-type:none; margin-left:120px}
        .welcome {margin-left:0}
        .kjrs {margin-left:380px}
        h1 {width:109px; margin:2cm auto 0 auto}
        .bg {background:#ccc}
        .noem {text-indent:0}
  </style>
</head>
<body>
      <h1>感谢信</h1>
      <p class="noem">亲爱的{$user_name}：</p> 
      <p>您好！非常感谢您选购康健人生健康商城的产品！康健人生健康商城——中国性价比最高的健康商城，立志要以“五星级的品质，平民化的价格，专业化的服务”的标准来严格要求自己，结合中国实际需求，不断开发出适合中国人群慢性病预防与健康风险控制的产品，提供最完善的健康服务，实现“全民一起健康，共创康健人生” ！ </p>
      <p>康健人生健康商城目前共有营养保健产品100多种，包括从小孩到老年人，从蛋白质粉到鱼油卵磷脂，从减肥丰胸到补肾壮阳，从防治“三高”到养心护脑等，涵盖了各个年龄阶段及多种常见健康问题，更有一系列健康套餐，为您的健康保驾护航！</p>
      <p>为了让您享受到更多性价比更高的产品以及更优质的服务，欢迎您向我们提出宝贵的意见和建议，我们将诚实、守信的对待每一位客户，努力改进在工作过程中存在的不足之处，不断完善康健人生健康商城,打造更加强大、坚实的健康平台（还有更优惠的会员积分制度，敬请咨询官方商城健康资讯一栏）。</p>
      <p>衷心的祝您：身体健康！阖家幸福！事业兴旺！万事如意！最后让我们一起把“健康”的爱心传递给每一个人！</p>
      <p class="bg">亲：请您在收到货后，上网点击确认收货，记得给我们好评哦！您的满意是我们不懈的追求！</p>
      <p class="bg">康健人生致电给您时来电显示为：4006169917，若接到可疑电话，您可立即拨打康健人生服务热线400-616-9917进行核实，以免上当受骗。</p>
      <ul>
            <li class="welcome">欢迎您再次光临：</li>
            <li>康健人生健康商城(http://www.kjrs365.com)</li>
            <li>天猫商城（http://kjrssp.tmall.com）  </li>
            <li>QQ商城（http://shop.paipai.com/10063817）</li>
            <li>京东商城（http://mall.360buy.com/index-31371.html）</li>
            <li>健康咨询热线：400-616-9917</li>
            <li>会员中心：400-616-9717</li>
            <li>售后客服QQ:4006169917</li>
            <li class="kjrs">康健人生健康商城</li>
            <li class="kjrs">{$date}</li>
      </ul>
</body>
</html>
