<br/>
<h3 style="float:left;">合并顾客</h3>
<br/>
<div class="sch_div" style="width:79.7%;">
  <form name="sch_repeat_user" onsubmit="schRepeatUser(this)" action="javascript:void(0)">
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
      <tr>
        <td>
          <select name="contact_way" style="width:88px;">
            {foreach from=$contact_way item=val}
            <option value="{$val.contact_way_label}">{$val.contact_way_name}</option>
            {/foreach}
            <option value="-1">自定义查询</option>
          </select>
        </td>
        <td>
          <input type="text" name="keyword" value="" placeholder="关键字(按确定键直接搜索)" style="width:250px"  />
        </td>
        <th> 具有相同的：</th>
        <td>
          <label><input type="checkbox" name="same_item[]" value="user_name" checked/> 姓名</label>
          <label><input type="checkbox" name="same_item[]" value="mobile_phone" checked/> 手机</label>
          <label><input type="checkbox" name="same_item[]" value="home_phone" checked/> 电话</label>
          <label><input type="checkbox" name="same_item[]" value="address"/> 地址</label>
        </td>
        <td>
          <input type="submit" value="搜索" class="b_submit"/>
          <input type="button" value="对照" class="b_submit" id="btn_combine" onclick="compareUser()" />
        </td>
        <td name="combine_user_config_form" style="float:right;">
          <select id="user_id_list">
            <option value="0">合并给</option>
          </select>
          <input type="button" value="合并" class="b_submit" id="btn_combine" onclick="combineUser()" />
        </td>
      </tr> 
    </table>
  </form>
</div>
<div id="compare_user_div" style="width:80%"></div>
<div id="resource" style="width:81%;">{$repeat_user_div}</div>
